<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuatexWoocommerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GuatexWoocommerce.Properties.Settings>
            <setting name="WoocommerceEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="WoocomerceConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="WoocommerceSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioMunicipios" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordMunicipios" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoCobroMunicipios" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlMunicipios" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAddressId" serializeAs="String">
                <value />
            </setting>
            <setting name="UrlTomaServicio" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioTomaServicio" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordTomaServicio" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoCobroTomaServicio" serializeAs="String">
                <value />
            </setting>
        </GuatexWoocommerce.Properties.Settings>
    </userSettings>
</configuration>